DJANGO_DEBUG=True
DJANGO_SECRET_KEY=django-insecure-development-only
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
CORS_ALLOWED_ORIGINS=http://localhost:4200,http://127.0.0.1:4200
SQLITE_PATH=/app/nexus/data/db.sqlite3
DJANGO_EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
DJANGO_EMAIL_HOST=localhost
DJANGO_EMAIL_PORT=25
DJANGO_EMAIL_USE_TLS=False
